/* Container ------------------------------------------ */
.timeline-section {
    width: 70%;
    height: auto;
    position: relative;
}

.timeline-section .timeline-items::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    background-color: #47fffc;
}

.timeline-items {
    width: 100%;
}

.timeline-card {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
    z-index: 999;
}

.timeline-card:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}

.timeline-card:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);

}


.timeline-card .date {
    position: absolute;
    top: -23px;
}

.timeline-card:nth-child(even) .date {
    left: 0px;
}

.timeline-card:nth-child(odd) .date {
    right: 0px;
}


.timeline-card .circle {
    position: absolute;
    top: 0px;
}

.timeline-card:nth-child(even) .circle {
    left: -31.3px;
    transform: translate(-50%, -150%);
}

.timeline-card:nth-child(odd) .circle {
    right: -31.3px;
    transform: translate(66%, -150%);
}


@media screen and (max-width:1200px) {
    .timeline-section {
        width: 90%;
    }
}

@media screen and (max-width:770px) {
    .timeline-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .timeline-card {
        width: 100%;
        float: none;
        clear: none;
    }

    .timeline-items::after{
        left: 10px;
    }

    .timeline-card:nth-child(odd) {
        transform: translateX(0);
    }

    .timeline-card:nth-child(even) {
        transform: translateX(0);
    }

    .timeline-card:nth-child(odd) .date {
        left: 0px;
    }

    .timeline-card:nth-child(odd) .circle {
        left: -31.5px;
        transform: translate(-50%, -150%);
    }
}